Repository KinsonDigital/VersionMiner, pull requests merged in 2022-08, with the labels that each got.

#56 Update issue and PR templates
  .github/ISSUE_TEMPLATE/bug-issue-template.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request-issue-template.yml
  .github/ISSUE_TEMPLATE/project-item-issue-template.yml
  .github/ISSUE_TEMPLATE/release-todo-issue-template.yml
  .github/ISSUE_TEMPLATE/research-issue-template.yml
  .github/PULL_REQUEST_TEMPLATE/feature-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/preview-feature-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/preview-release-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/production-release-pr-template.md
  Documentation/ReleaseNotes/PreviewReleases/Release-Notes-v1.0.0-preview.1.md
Labels: good first issue, high priority, preview, tech debt, 📝documentation/product

#57 Update Code of Conduct
  code_of_conduct.md
Labels: good first issue, medium priority, preview, 📝documentation/product

#52 Implement GitHubData library
  Testing/VersionMinerIntegrationTests/IntegrationTests.cs
  Testing/VersionMinerTests/GitHubActionTests.cs
  Testing/VersionMinerTests/VersionMinerTests.csproj
  VersionMiner/GitHubAction.cs
  VersionMiner/Program.cs
  VersionMiner/Services/GitHubDataService.cs
  VersionMiner/Services/IGitHubDataService.cs
  VersionMiner/VersionMiner.csproj
Labels: high priority, preview, tech debt, 🔗has dependencies

#59 Update branching docs
  Documentation/Branching.md
  Documentation/Images/BranchingDiagram-DarkMode-v1.1.png
  Documentation/Images/BranchingDiagram-LightMode-v1.1.png
Labels: good first issue, high priority, preview, 📝documentation/product

#63 Fix release todo issue template
  .github/ISSUE_TEMPLATE/release-todo-issue-template.yml
Labels: good first issue, high priority, preview, tech debt, 📝documentation/product

#65 Release To Preview - v1.0.0-preview.2
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug-issue-template.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request-issue-template.yml
  .github/ISSUE_TEMPLATE/project-item-issue-template.yml
  .github/ISSUE_TEMPLATE/release-todo-issue-template.yml
  .github/ISSUE_TEMPLATE/research-issue-template.yml
  .github/PULL_REQUEST_TEMPLATE/feature-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/preview-feature-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/preview-release-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/production-release-pr-template.md
  .github/workflows/build-status-check.yml
  .github/workflows/unit-tests-status-check.yml
  .run/AllInputs.run.xml
  .run/CaseSensistiveFalse.run.xml
  .run/CaseSensistiveMissing.run.xml
  .run/Debug.run.xml
  .run/KeyValueMismatchMissing.run.xml
  .run/WithFakeAuthToken.run.xml
  .vscode/settings.json
  Documentation/Branching.md
  Documentation/Images/BranchingDiagram-DarkMode-v1.1.png
  Documentation/Images/BranchingDiagram-LightMode-v1.1.png
  Documentation/ReleaseNotes/Preview-Release-Notes-TEMPLATE.md
  Documentation/ReleaseNotes/PreviewReleases/Release-Notes-v1.0.0-preview.1.md
  Documentation/ReleaseNotes/PreviewReleases/Release-Notes-v1.0.0-preview.2.md
  Documentation/ReleaseNotes/Production-Release-Notes-TEMPLATE.md
  README.md
  Testing/VersionMinerIntegrationTests/ExtensionMethods.cs
  Testing/VersionMinerIntegrationTests/IntegrationTests.cs
  Testing/VersionMinerIntegrationTests/Usings.cs
  Testing/VersionMinerIntegrationTests/VersionMinerIntegrationTests.csproj
  Testing/VersionMinerIntegrationTests/stylecop.json
  Testing/VersionMinerTests/ActionInputsTests.cs
  Testing/VersionMinerTests/Exceptions/InvalidFileFormatExceptionTests.cs
  Testing/VersionMinerTests/ExtensionMethodTests.cs
  Testing/VersionMinerTests/GitHubActionTests.cs
  Testing/VersionMinerTests/VersionMinerTests.csproj
  VersionMiner.sln
  VersionMiner.sln.DotSettings
  VersionMiner/ActionInputs.cs
  VersionMiner/Exceptions/InvalidFileFormatException.cs
  VersionMiner/Exceptions/InvalidFileTypeException.cs
  VersionMiner/ExtensionMethods.cs
  VersionMiner/GitHubAction.cs
  VersionMiner/Program.cs
  VersionMiner/Services/GitHubDataService.cs
  VersionMiner/Services/IGitHubDataService.cs
  VersionMiner/VersionMiner.csproj
  action.yml
  code_of_conduct.md
Labels: 🚀Preview Release

#70 Add notes about Ubuntu to README
  README.md
Labels: good first issue, high priority, preview, 📝documentation/product

#72 Add 2 tasks to PR templates
  .github/PULL_REQUEST_TEMPLATE/feature-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/preview-feature-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/preview-release-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/production-release-pr-template.md
Labels: good first issue, medium priority, preview, 📝documentation/product

#74 Remove issue and pr templates
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug-issue-template.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request-issue-template.yml
  .github/ISSUE_TEMPLATE/project-item-issue-template.yml
  .github/ISSUE_TEMPLATE/release-todo-issue-template.yml
  .github/ISSUE_TEMPLATE/research-issue-template.yml
  .github/PULL_REQUEST_TEMPLATE/feature-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/preview-feature-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/preview-release-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/production-release-pr-template.md
Labels: high priority, preview, 📝documentation/product

#76 Replace GitHubData lib code with OctoKit
  .run/AllInputs.run.xml
  .run/CaseSensistiveFalse.run.xml
  .run/CaseSensistiveMissing.run.xml
  .run/Debug.run.xml
  .run/KeyValueMismatchFalse.run.xml
  .run/KeyValueMismatchMissing.run.xml
  .run/WithFakeAuthToken.run.xml
  README.md
  Testing/VersionMinerIntegrationTests/IntegrationTests.cs
  Testing/VersionMinerTests/ActionInputsTests.cs
  Testing/VersionMinerTests/DeserializedHttpResponseTests.cs
  Testing/VersionMinerTests/Exceptions/BranchDoesNotExistExceptionTests.cs
  Testing/VersionMinerTests/Exceptions/OwnerDoesNotExistExceptionTests.cs
  Testing/VersionMinerTests/Exceptions/RepoDoesNotExistExceptionTests.cs
  Testing/VersionMinerTests/ExtensionMethodTests.cs
  Testing/VersionMinerTests/GitHubActionTests.cs
  Testing/VersionMinerTests/Helpers/ExtensionMethodsForTesting.cs
  Testing/VersionMinerTests/HttpResponseTests.cs
  Testing/VersionMinerTests/Services/RepoFileDataServiceTests.cs
  Testing/VersionMinerTests/VersionMinerTests.csproj
  VersionMiner/ActionInputs.cs
  VersionMiner/App.cs
  VersionMiner/DeserializedHttpResponse.cs
  VersionMiner/Exceptions/BranchDoesNotExistException.cs
  VersionMiner/Exceptions/HeaderAlreadyExistsException.cs
  VersionMiner/Exceptions/OwnerDoesNotExistException.cs
  VersionMiner/Exceptions/RepoDoesNotExistException.cs
  VersionMiner/ExtensionMethods.cs
  VersionMiner/GitHubAction.cs
  VersionMiner/HttpResponse.cs
  VersionMiner/Program.cs
  VersionMiner/Services/HttpClient.cs
  VersionMiner/Services/IHttpClient.cs
  VersionMiner/Services/IRepoFileDataService.cs
  VersionMiner/Services/RepoFileDataService.cs
  VersionMiner/VersionMiner.csproj
  action.yml
Labels: high priority, preview, tech debt
